<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>

<div style="text-align: center; font-weight: 1000; font-size: 45px; color: darkgoldenrod">ALL EXISTING USERS:</div>
    {{#each users}}
        <div>
            <hr>
            <div><b>Login:</b>{{this.login}};</div>
            <div><b>Email:</b> {{this.email}}</div>
        </div>
    {{/each}}
</body>
</html>